body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    color: #00ff00;
}

.main-header {
    margin: 0 15px;
    padding-top: 50px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
}

.header-buttons-1,
.header-buttons-2 {
    display: flex;
    column-gap: 15px;
}

.header-button {
    padding: 5px 10px;
    background-color: #9048F0;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    border: 0;
}