<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Login Form</title>
</head>
<body>
<div class="authorization-main">
    <div class="container">
        <div class="back-main">
            <a th:href="@{/index}">
                <button class="back-main-button">Назад на главную</button>
            </a>
        </div>
        <div class="authorization-box">
            <form th:action="@{/login}" method="post">
                <div class="authorization-title">
                    Авторизация
                </div>
                <input type="email" class="authorization-input email" id="username" name="username"
                       placeholder="Введите вашу почту">
                <input type="password" class="authorization-input authorization-password" id="password" name="password"
                       placeholder="Введите ваш пароль">
                <a th:href="@{/profile}">
                    <button class="authorization-button">Войти</button>
                </a>


            </form>

            <a th:href="@{/register}">
                <button class="registration-button">Регистрация</button>
            </a>
            <div class="message" th:if="${param.error}">Неправильно ввели почту или пароль</div>
            <div class="message" th:if="${param.logout}">Успешно</div>
        </div>
    </div>
</div>
</body>
</html>
