<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>


<body>

<div class="Main">
    <div class="container">
        <div class="main-header">
            <div class="header-buttons">
                <div class="header-buttons-1">
                    <a th:href="@{/news}">
                        <button class="header-button">
                            Новости
                        </button>
                    </a>
                    <a th:href="@{/forum}">
                        <button class="header-button">
                            Форум
                        </button>
                    </a>
                    <a th:href="@{/apod}">
                        <button class="header-button">
                            Фото дня
                        </button>
                    </a>
                    <a th:href="@{/epic}">
                        <button class="header-button">
                            Земля
                        </button>
                    </a>
                    <a th:href="@{/mars}">
                        <button class="header-button">
                            Марс
                        </button>
                    </a>
                </div>
                <div class="header-buttons-2">
                    <h2>[[${user.getFullname()}]]</h2>
                    <span class="logout-button" sec:authorize="isAuthenticated">
                    <a th:href="@{/logout}" class="logout-button">
                     Logout
                    </a>

                    </span>
                </div>

            </div>
        </div>
        <div class="main-box">
            <div class="main-title">
                Хотите окунуться <br> в бескрайний мир космоса?
            </div>
            <div class="main-text">
                Карта звездного неба - это уникальная возможность попасть в
                далекий мир звёзд и планет, не выходя из дома.
            </div>
            <button class="main-button">
                Смотреть карту
            </button>
        </div>

    </div>
</div>
</body>

</html>